[Unit]
Description=biarbala
After=network.target

[Service]
Type=simple
User=node
WorkingDirectory=/urs/src/biarbala
ExecStart=/usr/bin/node /urs/src/biarbala/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target